src/cspan/core/.vimrc
src/.ipynb_checkpoints/
src/Detection/.ipynb_checkpoints/
src/ted/.ipynb_checkpoints/
src/cspan/.ipynb_checkpoints/
src/cspan/core/.ipynb_checkpoints/
src/ted/gentle/
asr-evaluation
src/cspan/core/jeb_featurizer.py
src/cspan/core/jeb_speech.py
src/cspan/core/jeb_speech.pyc
