src/cspan/core/.vimrc

src/.ipynb_checkpoints/
src/Detection/.ipynb_checkpoints/
src/ted/.ipynb_checkpoints/
src/cspan/.ipynb_checkpoints/
src/cspan/core/.ipynb_checkpoints/

src/ted/gentle/

match_applause.txt
src/ted/ted.txt
src/ted/new_ted.txt
negative_1.txt
positive_1.txt
talk_names.txt
src/ted/liu.txt
src/ted/good_transcript_paths.txt

src/ted/transcripts.pkl
src/ted/good_transcripts.pkl

src/ted/best_ff_model.h5
src/ted/best_ff_model2.h5
best_model.h5
